$content-padding: 0.5rem;
$workslist-height: 16rem;
$maxwidth: 70rem;

/* @media min-width */
$switch-width1: 40rem;
$switch-width2: 20rem;

/* colors */
$accent_color: rgba(240, 220, 220, 1);
$font_color: rgb(70,50,70);

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}

@import "normalize";

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4rem;
    font-weight: 300;
    color: $font_color;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    box-sizing: border-box;
    padding: 0.1rem;
    display: block;
}

p {
    margin-top: 0;
    padding-top: 0.5rem;
    a {
        border-bottom-width: 0.1rem;
        border-bottom-style: solid;
        border-bottom-color: $accent_color;
        box-shadow: inset 0 -0.4rem 0 $accent_color;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
        &:hover {
            background-color: $accent_color;
        }
    }
}

h1 {
    color: red;
    animation: blinker 1s linear infinite;
    line-height: 2.4rem;
}

em {
    animation: blinker 1s linear infinite;
    font-style: normal;
}

object {
    width: 100%;
    height: 50rem
}

@keyframes blinker {
    50% { opacity:0; }
}

h2 {
    /* underline headlines */
    font-weight: inherit;
    font-size: 2rem;
    padding: 0;
    margin: 1.5rem;
    display: inline-block;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    line-height: 2.4rem;
}

h3 {
    padding-right: $content-padding;
    float: left;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h4 {
    margin-top: 0;
    // display: none;
}

h5 {
    float: right;
}

iframe {
    width: 100%;
}

.frame {
    max-width: $maxwidth;
    margin: auto;
    margin-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.navigation-container {
    font-size: 120%;
}

.home-item , .navigation-item {
    float: right;
    box-sizing: border-box;
    padding: 0.5rem;
}
.home-item {
    float: left;
    margin-right: 1rem;
}
.subNavigation {
    float: left;
}

.active {
    text-decoration: line-through;
}

.worksListFrame , .content {
    box-sizing: border-box;
    padding: $content-padding;
}

.startpage-content {
    img {
        max-width: 100%;
        max-height: calc(100vh - 5rem);
    }
}


.leftCol , .rightCol {
    box-sizing: border-box;
    min-height: 16rem;
    padding: $content-padding
}

.taglist {
    margin: 0;
    padding: $content-padding;
    list-style-type: none;
}

.tagItem {
    padding: $content-padding;
    float: left;
}

.workslist {
    // max-height: $workslist-height;
    box-sizing: border-box;
    padding: calc(#{$content-padding} /4);
    margin: calc(#{$content-padding} /4);
    overflow: hidden;
    // max-width: 24rem;
}

.workslist img {
    max-width: 100%;
}

.news {
    background-color: #ff005e;
    // height: 32rem;
    // overflow: scroll;
}

.exhibitions {
    background-color: #48fd90;
}

// large
@media (min-width: $switch-width1) {
    .navigation-item {
        // width: calc(100%/8);
    }
    .home-item {
        // width: 50%;
    }
    .leftCol {
        width: 50%;
        height: 100%;
        float: left;
        box-sizing: border-box;
    }
    .rightCol {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        float: right;
    }
    .workslist {
        float: left;
    }
    .workslist img {
        height: $workslist-height;
    }
    .workslist-text {
        background: $accent_color;
        color: white;
        padding-right: 10rem;
        padding-top: 1rem;
        padding-left: 1rem;
        margin: 0;
        height: 16rem;
        box-sizing: border-box;
    }
    .content img {
        max-width: 50%;
    }
    .news {
        // width: calc(100%/2);
    }
}
// media 
@media (max-width: $switch-width1) {
    .navigation-item {
        // width: calc(100%/4);
    }
    .workslist {
        float: left;
    }
    .workslist img {
        max-height: $workslist-height;
    }
    .content img {
        max-width: 100%;
    }

}
// small
@media (max-width: $switch-width2) {
    img {
        // width: 75%;
    }
    .navigation-item {
        // width: calc(100%/4);
    }
    .leftCol {
        width: 100%;
        height: 30%;
    }
    .rightCol {
        width: 100%;
        height: 40%;
    }
    .workslist {
        width: 100%;
    }
    .workslist img {
        max-height: $workslist-height;
    }
    .content img {
        max-width: 100%;
    }
}
