/* @media min-width */
/* colors */
@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype"); }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit; }

optgroup {
  font-weight: bold; }

button, input, select {
  overflow: visible; }

button, input, select, textarea {
  margin: 0; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring, input:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4rem;
  font-weight: 300;
  color: #463246; }

a {
  text-decoration: none;
  color: inherit; }

img {
  box-sizing: border-box;
  padding: 0.1rem;
  display: block; }

p {
  margin-top: 0;
  padding-top: 0.5rem; }
  p a {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: #f0dcdc;
    box-shadow: inset 0 -0.4rem 0 #f0dcdc;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word; }
    p a:hover {
      background-color: #f0dcdc; }

h1 {
  color: red;
  animation: blinker 1s linear infinite;
  line-height: 2.4rem; }

em {
  animation: blinker 1s linear infinite;
  font-style: normal; }

object {
  width: 100%;
  height: 50rem; }

@keyframes blinker {
  50% {
    opacity: 0; } }
h2 {
  /* underline headlines */
  font-weight: inherit;
  font-size: 2rem;
  padding: 0;
  margin: 1.5rem;
  display: inline-block;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  line-height: 2.4rem; }

h3 {
  padding-right: 0.5rem;
  float: left; }

h4 {
  margin-top: 0; }

h5 {
  float: right; }

iframe {
  width: 100%; }

.red {
  color: red; }

.green {
  color: lime; }

.blue {
  color: blue; }

.frame {
  max-width: 70rem;
  margin: auto;
  margin-top: 1rem;
  box-sizing: border-box;
  overflow: hidden; }

.navigation-container {
  font-size: 120%;
  padding-left: 11rem;
  text-align: right; }

.home-item, .navigation-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem; }

.home-item {
  float: left;
  margin-right: 1rem; }

.active {
  text-decoration: line-through; }

.worksListFrame, .content {
  box-sizing: border-box;
  padding: 0.5rem; }

.newsListFrame {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: flex-end;
  align-content: left;
  justify-content: left;
  align-content: left;
  justify-content: left; }

.worksListFrame {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: flex-end;
  align-content: space-around;
  justify-content: space-around;
  align-content: space-evenly;
  justify-content: space-evenly; }

.startpage-content img {
  max-width: 100%;
  max-height: calc(100vh - 5rem); }

.taglist {
  margin: 0;
  padding: 0.5rem;
  list-style-type: none; }

.tagItem {
  padding: 0.5rem;
  float: left; }

.workslist {
  box-sizing: border-box;
  padding: calc(0.5rem /4);
  margin: calc(0.5rem /4);
  align-self: flex-end; }

.workslist img {
  max-width: 100%;
  max-height: 16rem; }

.workslist-text {
  background: #f0dcdc;
  color: white;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
  height: 16rem;
  box-sizing: border-box; }

.news img, .exhibitions img {
  height: 16rem; }

.news {
  background-color: #ff005e; }

.exhibitions {
  background-color: #48fd90; }

@media (min-width: 40rem) {
  .content img {
    max-width: 50%; } }
@media (max-width: 40rem) {
  .content img {
    max-width: 100%; } }
@media (max-width: 20rem) {
  .workslist {
    width: 100%; }

  .content img {
    max-width: 100%; } }

/*# sourceMappingURL=janna.css.map */
